/*
	Name: Rockability
	Date: 8th February 2012
	Description: Global Style Sheet
	Version: 1.0
	Coder: Jonathan Smith
	Coder URI: http://rockablemedia.com
*/

/* Imports
===============================================*/
@import url("reset.css");

/* Global Styles
===============================================*/
body {
	background: white;
	color: black;
	font-size: 13px;
	font-family: 'Arial', 'Times New Roman', Times, serif;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-align: left;
}

/* Headers
-----------------------------------------------*/
h2 {font-size: 20px}	
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

h2, h3, h4, h5, h6 {line-height: 15px; margin-bottom: 10px;}
	
/* Links
-----------------------------------------------*/
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {}
a:hover, a:active {}
	
/* Paragraphs
-----------------------------------------------*/
p {margin-bottom: 20px;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists
-----------------------------------------------*/
ul {list-style: outside disc; margin: 5px 0 10px 10px;}
ol {list-style: outside decimal; margin: 5px 0 10px 10px;}
dl {margin: 0 0 10px 0;}
dt {font-weight: bold;}
dd {margin-left: 10px;}

/* Quotes
-----------------------------------------------*/
blockquote {font-style: italic;}
cite {}
q {}

/* Tables
-----------------------------------------------*/
table {margin: 10px auto; width: 100%;}
	
	/* Thead */
	thead th {padding: 5px 4px; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: 5px 4px;}
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* Forms
-----------------------------------------------*/
fieldset {}

/* HTML5 tags */
hgroup, header, section, footer,
aside, nav, article, figure {display: block;}

/* Layout
===============================================*/


/* Header
-----------------------------------------------*/
header {background-color: rgba(0,0,0,0.75); height: 120px;}
header h1.logo {float: left; margin-top: 22px;}
header h1.logo a {color: #fff; font-size: 36px;}

/* Body
-----------------------------------------------*/

/* Footer
-----------------------------------------------*/
	
/* Sections
===============================================*/